/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

@font-face{
	font-family: 'Wals-Bold';
	src:url('fonts/GT-Walsheim-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'basier_mono';
    src: url('fonts/GT-Walsheim-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* Global Variables */


:root {
	--bg: #fff;
    --font: #000;
}


/* Defaults */


body {
    width: 100%;
    margin: auto;
    background: var(--bg);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'basier_mono', sans-serif;
    padding: 1vw 2vw;
    font-size: 4vw;
    margin: auto;
}

h2 {
    font-family: 'basier_mono', sans-serif;
    font-size: 2vw;
}

h3 {
    width: 100%;
    text-align: left;
    margin: auto;
    margin-top: 0;
    top: 0;
    font-size: 0;
}

a {
    text-decoration: none;
    color: var(--font);
}

header {
    position: fixed;
    width: 100%;
    height: 2vw;
    background: var(--bg);
}

footer {
    background: var(--bg);
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    font-family: 'baser_mono', sans-serif;
}

footer a {
    margin: auto;
    width: 33.33%;
    padding: 1vw 0;
    font-size: 4vw;
    text-decoration: none;
    color: #666;
    font-family: 'basier_mono', sans-serif;
    text-align: center;
    line-height: 3vw;
}

footer svg {
    width: 5%;
}


/* Classes */


.active {
    color: var(--font);
}

.content {
    width: 100%;
    padding: 2vw 0;
    margin-bottom: 3vw;
}

.container {
    width: 60%;
    border-radius: 1em;
    padding: 1vw 2vw;
    margin: auto;
    margin-bottom: 2vw;
    background: var(--bg);
    box-shadow: 0 1px 1px  #0003, 0 2px 4px #0006;
    margin-bottom: 3vw;
}

.container h2 {
    width: 100%;
    margin: auto;
    top: 0;
    margin-bottom: 1vw;
    padding: 1vw 0vw;
    text-align: left;
    color: var(--font);
}

.container h3 {
    font-size: 1.4vw !important;
    margin-bottom: 1vw;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container img {
    width: 100%;
    border-radius: .5em;
}

.container span {
    width: 100%;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
}

.container span img {
    height: 6vw;
    margin-right: 3vw;
    width: 6vw;
    border-radius: 50%;
}

.searchBar {
    width: 80%;
    margin: auto;
}

.searchBar input {
    background: transparent;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: .2em;
    padding: 1vw;
    font-size: 2vw;
    border-style: solid;
    border-color: var(--font);
    border-width: 2px;
    outline: none;
}

.highlight {
    background: var(--font) !important;
    color: var(--bg) !important;
}

.profileButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.profileButtons a {
    padding: 1vw;
    text-align: center;
    background: transparent;
    color: var(--font);
    width: 30%;
    border-radius: .5em;
    font-size: 1.5vw;
    border-style: solid;
    border-width: 2px;
    border-color: var(--font);
    outline: none;
    margin-bottom: 1vw;
}

.profilePicture {
    position: absolute;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    left:50%;
    transform: translateX(-50%);
}

.profileInfo {
    margin-bottom: 3vw;
}

.profileInfo h2{
    text-align: center;
    margin: auto;
    font-size: 3vw;
    margin-top: 22vw;
    margin-bottom: 1vw;
}

.profileInfo h3{
    text-align: center;
    font-size: 2vw !important;
    margin-bottom: 1vw;
}

.message {
    position: fixed;
    top: 0;
    margin-top: 1vw;
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 1px  #0003, 0 2px 4px #0006;
}

.message img {
    height: 5vw;
    margin-left: 5vw;
    width: 5vw;
    border-radius: 50%;
}

.message h2 {
    width: 50%;
    margin:auto;
    margin-left: 4vw;
    top: 0;
    padding: 1vw 0vw;
    text-align: left;
    color: var(--font);
}

.bottomMessage {
    position: fixed;
    bottom: 4vw;
    margin-top: 25vw;
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: row;
}

.bottomMessage input {
    background: transparent;
    width: 80%;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: .2em;
    padding: 1vw;
    font-size: 1vw;
    border-style: solid;
    border-color: var(--font);
    border-width: 2px;
    outline: none;
}

.bottomMessage a {
    position: absolute;
    padding: 1vw;
    text-align: center;
    right: 5vw;
}





@media screen and (max-width: 1000px) {

    /* Defaults */


    body {
        width: 100%;
        height: 60vh;
        margin: auto;
        background: var(--bg);
        color: var(--font);
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-family: 'basier_mono', sans-serif;
        padding: 5vw;
        font-size: 10vw;
        margin: auto;
    }

    h2 {
        font-family: 'basier_mono', sans-serif;
        font-size: 7vw;
    }

    h3 {
        width: 100%;
        text-align: left;
        margin: auto;
        margin-top: 0;
        top: 0;
        font-size: 0;
    }

    a {
        text-decoration: none;
        color: var(--font);
    }

    header {
        position: fixed;
        width: 100%;
        height: 7vw;
        background: var(--bg);
    }

    footer {
        background: var(--bg);
        position: fixed;
        display: flex;
        align-items: center;
        bottom: 0;
        width: 100%;
        font-family: 'baser_mono', sans-serif;
    }

    footer a {
        margin: auto;
        width: 33.33%;
        padding: 4vw 0;
        font-size: 4vw;
        text-decoration: none;
        color: #666;
        font-family: 'basier_mono', sans-serif;
        text-align: center;
        line-height: 3vw;
    }

    footer svg {
        width: 30%;
    }


    /* Classes */


    .active {
        color: var(--font);
    }

    .content {
        width: 100%;
        padding: 10vw 0;
        margin-bottom: 15vw;
    }

    .container {
        width: 90%;
        border-radius: 1em;
        padding: 3vw;
        margin: 2vw;
        background: var(--bg);
        box-shadow: 0 1px 1px  #0003, 0 2px 4px #0006;
        margin-bottom: 6vw;
    }

    .container h2 {
        width: 100%;
        margin: auto;
        top: 0;
        padding: 1vw 0vw;
        text-align: left;
        color: var(--font);
    }

    .container h3 {
        font-size: 5vw !important;
        text-align: left;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    .container img {
        width: 100%;
        border-radius: .5em;
    }

    .container span {
        width: 100%;
        padding: 3vw 0;
        display: flex;
        flex-direction: row;
    }

    .container span img {
        height: 12vw;
        margin-right: 3vw;
        width: 12vw;
        border-radius: 50%;
    }

    .searchBar {
        width: 80%;
        margin: auto;
    }

    .searchBar input {
        background: transparent;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        border-radius: .2em;
        padding: 4vw;
        font-size: 5vw;
        border-style: solid;
        border-color: var(--font);
        border-width: 2px;
        outline: none;
    }

    .highlight {
        background: var(--font) !important;
        color: var(--bg) !important;
    }

    .profileButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin: auto;
    }

    .profileButtons a {
        padding: 3vw;
        text-align: center;
        background: transparent;
        color: var(--font);
        width: 90%;
        border-radius: .5em;
        font-size: 5vw;
        border-style: solid;
        border-width: 2px;
        border-color: var(--font);
        outline: none;
        margin-top: 2vw;
    }

    .profilePicture {
        position: inherit;
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        left:50%;
        transform: translateX(50%);
    }

    .profileInfo {
        margin-bottom: 3vw;
    }

    .profileInfo h2{
        text-align: center;
        margin: auto;
        font-size: 8vw;
        margin-bottom: 2vw;
    }

    .profileInfo h3{
        text-align: center;
        font-size: 5vw !important;
        margin-bottom: 5vw;
    }

    .message {
        position: fixed;
        top: 0;
        margin-top: 5vw;
        width: 100%;
        padding: 3vw 0;
        display: flex;
        flex-direction: row;
        box-shadow: 0 1px 1px  #0003, 0 2px 4px #0006;
    }

    .message img {
        height: 12vw;
        margin-left: 5vw;
        width: 12vw;
        border-radius: 50%;
    }

    .message h2 {
        width: 50%;
        margin: auto;
        top: 0;
        padding: 1vw 0vw;
        text-align: left;
        color: var(--font);
    }

    .bottomMessage {
        position: fixed;
        bottom: 20vw;
        margin-top: 25vw;
        width: 100%;
        padding: 3vw 0;
        display: flex;
        flex-direction: row;
    }

    .bottomMessage input {
        background: transparent;
        width: 60%;
        margin-left: 5vw;
        margin-right: 5vw;
        border-radius: .2em;
        padding: 4vw;
        font-size: 5vw;
        border-style: solid;
        border-color: var(--font);
        border-width: 2px;
        outline: none;
    }

    .bottomMessage a {
        position: absolute;
        padding: 5vw;
        text-align: center;
        right: 5vw;
    }
}

/* Scrollbar */


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: #151515;
}

::-webkit-scrollbar-thumb:hover {
	background: #151515;
}


/* Selection */


::-moz-selection {
	background: var(--bg);
	color: var(--font);
}

::selection {
	background: var(--bg);
	color: var(--font);
}
